body{
    background: #ffffff;
    margin :20px;
}
.inPutColor {
    border-radius: 0.2rem;
    border: none;
    height: 4%;
    
}
.inPutColor::placeholder{
    font-size: 14px;
}
.colorPicker{
    opacity: 1;
    background: none;
    border: none;
    margin: 0;
}
.colorPicker.oned{
    margin: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c5cfda;
    text-align: center;
    display: flex;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0 ,0,0.15);
}
.config{
    flex-grow: 1;
    margin-left: 20px;
}
.config-title{
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.config-heading-title{
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.selected-color-text{
    text-align: center;
    font-family: monospace;
    font-size: 1.4em;
    margin-bottom: 15px;
}
.selected-color,.shade-color1 , .shade-color2, .shade-color3,.shade-color4,.shade-color5{
    opacity: 1;
    height: 35px;
    border: 1px solid #b64646;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.shade-color1, .shade-color2, .shade-color3,.shade-color4,.shade-color5{
    height: 15px;
    border: 1px solid #b64646;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.shade-color1:not(:last-of-type) , .shade-color2:not(:last-of-type) ,.shade-color3:not(:last-of-type) ,.shade-color4:not(:last-of-type),.shade-color5:not(:last-of-type) {
    margin-bottom: 5px;
}
.slider-cont{
    padding: 0px;
    background-color: #fff;
    border-radius: 5px 30px 30px 5px ;
    display: flex;
    align-items: center;
    width: 250px;
}
.slider{
    position: relative;
    width: 200px;
    height: 20px;
}
.slider input{
    position: absolute;
    left: -6px;
    top: 0;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 99;
}
.slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #e91e63;
    border-radius: 50%; 
    cursor: pointer;
}
.slider progress{
    opacity: 1;
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar{
    background-color: #f0f0f0;
}
.slider progres::-webkit-progress-value{
    background-color: #e91e63;
}
.sliderValue{
    font-family: "Google Sans Regular";
    width: 28px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
}
.firstColor , .secondColor{
    text-align: center;
    opacity: 1;
    height: 35px;
    border: 1px solid #b64646;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    
    word-wrap: break-word;
  }
.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}
.button-4:focus {
    outline: 1px transparent;
}
.button-4:before {
    display: none;
}
.button-4:-webkit-details-marker {
    display: none;
}